@font-face {
    font-family: "lovers";
    src: url("../fonts/LoversQuarrel-Regular.ttf");
    
}

@font-face {
    font-family: "elsie";
    src: url("../fonts/ElsieSwashCaps-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
}



#menu-vertical ul{
    list-style: none;
    font-family: "lovers";
}

#menu-vertical ul li{
    display: block;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Forja.png);
    background-size: cover;
    font-size: 70px;
    display: flex;
    align-items: flex-start;
}

/*DEUS HEFESTO*/

#hefesto{
    padding-top: 50px;
    padding-bottom: 50px;
}

#hefesto-linha{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hefesto-coluna{
    font-size: 30px;
    height: 300px;
    flex-basis: 25%;
    text-align: center;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.2);
}

.hefesto-coluna:hover{
    cursor: pointer;
}

.hefesto-coluna img{
    width: 100px; margin-bottom: 30px;
}

.hefesto-coluna h4{
    font-family: "lovers";
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 100px;
    font-weight: 400;
}











#concerto{
    background-color: #313B4A;
    width: 100vw;
    height: 100%;
}






a{
    color: #FF6B00;
}


h1{
    font-family: "lovers";
    color: #00A3FF;
    font-size: 200px;
    text-align: center;
    font-weight: normal;
}

h2{
    font-family: "lovers";
    color: white;
    font-size: 150px;
    font-weight: normal;
}

h3{
    font-family: "lovers";
    color: #00A3FF;
    font-size: 150px;
    font-weight: normal;
}



.texto{
    font-size: 30px;
    padding: 100px 94px;
}

p{
    color: white;
    font-family: "elsie";
}


.ordem{
    display: flex;
    justify-content: space-around;
}

.block{
    display: flex;
    flex-direction: column;
}

.block1{
    display: flex;
    flex-direction: column;
}

.block img{
    margin-bottom: 10px;
}

.vulcao{
    text-align: center;
    
}

.vulcao p{
    text-align: left !important;
}
